{% extends 'instagram/instagram_base.html'%}

{% block title %}
     Insta Downloader
{% endblock %}


{% block content %}

    <center>
        <div>
            <form action="/instagram/">
                <h2>Instagram Downloader</h2>
                <input type="url" name="link" title="Paste URL" class="form-control" placeholder="Paste your URL">
                <input type="submit" value="Download">
            </form>
        </div>

        {% if download_url is not None %}
            {% for url in download_url %}
                <a class="btn btn-primary btn-lg btn-block" download href={{ url }} role="button">Download {{ forloop.counter1 }}</a>
            {% endfor %}
        {% else %}
            {% if download_url is None %}
                <p></p>
            {% else %}
                <p>Sorry, unable to download post from this link</p>
            {% endif%}
        {% endif%}
    </center>

{% endblock %}